<h1>Strona główna</h1>
<p>
  Ble ble ble  Ble ble ble  Ble ble ble.  Ble ble ble  Ble ble ble.
    Ble ble ble...
</p>
<%= Time.now %>
<%= @some_variable %>
<u1>
  <% @users.each do |user| %>
  <%= link_to user do %>
    <li><%= user.login %> <%= user.name %></li>
  <% end %>
<% end %>
</u1>
